{% extends 'base.html' %}

<!-- {% load staticfiles %} -->

{% block content %}
<div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <div class="card">
               <div class="card-header">Wallets for {{ user.username }}<span class="float-right">
                  <a href="{% url 'app:createWallet' %}">Create</a>
                   /
                  <a href="{% url 'app:editWallet' %}">Edit</a>
                  /
                 <a href="{% url 'app:deleteWallet' %}">Delete</a>
               </span>
               </div>
                <div class="card-body">


                    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for wallet in wallets %}

                      <li class="nav-item">
                        <a class="nav-link "  id="nav-{{ wallet.id }}-tab" data-toggle="tab" href="#{{ wallet.id }}" role="tab" aria-controls="nav-{{ wallet.name }}" aria-selected="true" >{{ wallet.name }}</a>
                      </li>

                      {% endfor %}
                      </ul>


                      <div class="tab-content" id="nav-tabContent">

                      {% for wallet in wallets %}
                       <div class="tab-pane fade" id="{{ wallet.id }}" role="tabpanel" aria-labelledby="{{ wallet.name }}-tab">
                       </br>
                       <form class="form-horizontal" method="POST" action="">

                           {% csrf_token %}
                           <input id="id" name="id" type="hidden" value="{{ wallet.id }}">

                           <div class="form-group row">
                              <label for="name" class="col-lg-4 col-form-label text-lg-right">Name</label>

                              <div class="col-lg-6">
                                  <input
                                           id="name"
                                           type="text"
                                           step="any"
                                           min="0"
                                           class=""
                                           name="name"
                                           value="{{ wallet.name }}"
                                           required
                                           autofocus
                                  >
                              </div>
                           </div>

                           <div class="form-group row">
                              <label for="bitcoin" class="col-lg-4 col-form-label text-lg-right">Bitcoin</label>

                              <div class="col-lg-6">
                                  <input
                                           id="bitcoin"
                                           type="number"
                                           step="any"
                                           min="0"
                                           class=""
                                           name="bitcoin"
                                           value="{{ wallet.bitcoin }}"
                                           required
                                           autofocus
                                  >
                              </div>
                           </div>

                           <div class="form-group row">
                              <label for="etherium" class="col-lg-4 col-form-label text-lg-right">Etherium</label>

                              <div class="col-lg-6">
                                  <input
                                           id="etherium"
                                           type="number"
                                           step="any"
                                           min="0"
                                           class=""
                                           name="etherium"
                                           value="{{ wallet.etherium }}"
                                           required
                                           autofocus
                                  >
                              </div>
                           </div>

                           <div class="form-group row">
                              <label for="litecoin" class="col-lg-4 col-form-label text-lg-right">Litecoin</label>

                              <div class="col-lg-6">
                                  <input
                                           id="litecoin"
                                           type="number"
                                           step="any"
                                           min="0"
                                           class=""
                                           name="litecoin"
                                           value="{{ wallet.litecoin }}"
                                           required
                                           autofocus
                                  >
                              </div>
                           </div>

                           <div class="form-group row">
                              <div class="col-lg-8 offset-lg-4">
                                  <button type="submit" class="btn btn-primary">
                                       Submit
                                  </button>
                              </div>
                           </div>
                       </form>

                     </div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}